
@font-face {
  font-family: 'Brandon Grotesque';
  src: url('../fonts/BrandonGrotesque-Regular.eot?') format('eot'),
       url('../fonts/BrandonGrotesque-Regular.woff2') format('woff2'),
       url('../fonts/BrandonGrotesque-Regular.woff') format('woff'),
       url('../fonts/BrandonGrotesque-Regular.ttf') format('truetype'),
       url('../fonts/BrandonGrotesque-Regular.otf') format('opentype'),
       url('../fonts/BrandonGrotesque-Regular.svg#BrandonGrotesque-Regular') format('svg');
}
@font-face {
  font-family: 'Brandon Grotesque Bold';
  src: url('../fonts/Brandon_bld.eot?') format('eot'),
       url('../fonts/Brandon_bld.woff2') format('woff2'),
       url('../fonts/Brandon_bld.woff') format('woff'),
       url('../fonts/Brandon_bld.ttf')  format('truetype'),
       url('../fonts/Brandon_bld.otf') format('opentype'),
       url('../fonts/Brandon_bld.svg#Brandon_bld') format('svg');
  font-weight: bold;
}

html, body {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

::-webkit-scrollbar {
    display: none;
}

.navbar-brand>img {
  width: 150px;
  margin-top: -25px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#tag {
  display: inline-block;
  font-family: "Brandon Grotesque";
  margin-top: 15px;
  color: #FFFFFF;
  font-size: 17px;
  letter-spacing: 0.5px;
}

#tag>span {
  color: #FF7F66;
}

.navbar-brand>img:hover {
  transform: scale(1.1);
}

.navbar-default {
  background-color: transparent;
  border: 0px;
  border-radius: 0px;
  -webkit-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  -ms-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

.navbar-default .navbar-nav>li>a {
  text-transform: uppercase;
  font-family: "Brandon Grotesque Bold";
  letter-spacing: 3px;
  color: #FFFFFF;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  position: relative;
  text-decoration: none;
  padding-bottom: 5px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 15px;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: #FFFFFF;
}

.navbar-default .navbar-nav>li>a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFFFFF;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}


.navbar-default .navbar-nav>li>a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
  border: 0px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: transparent;
  color: #FFFFFF;
}

video#backgroundVideo {
  width: 100%;
  height: auto;
}

#backgroundText {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  color: #FFFFFF;
  font-family: "Brandon Grotesque Bold";
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  font-size: 40px;
}

 #background button {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 20%;
  transform: translateX(-50%) translateY(-50%);
  background-color: transparent;
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: "Brandon Grotesque";
  letter-spacing: 2px;
  box-shadow: 0px;
  border: 1px solid #FFFFFF;
  padding: 10px;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

#background button:hover {
  background-color: #FFFFFF;
  color: #3E454C;
}

div#about {
  padding-top: 20px;
  padding-bottom: 20px;
}

div#aboutText {
  text-align: center;
  margin-top: 5%;
}

h2#aboutTitle, h2#teamTitle, h2#workTitle, h2#teamTitle {
  font-family: "Brandon Grotesque Bold";
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  padding-bottom: 20px;
}

p#aboutContent {
  font-family: "Brandon Grotesque";
  font-size: 20px;
}

.serviceItemTitle {
  font-family: "Brandon Grotesque Bold";
  font-size: 20px;
  color: #fff;
  margin-top: 8px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h2#serviceTitle {
  font-family: "Brandon Grotesque Bold";
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: -15px;
}

div#service {
  padding-top: 7%;
  padding-bottom: 20px;
}

#webDevIcon, #webDesignIcon, #brandingDesignIcon {
  width: 300px;
  margin: 0 auto;
  display: block;
  margin-bottom: -30px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

div h4 {
  font-family: "Brandon Grotesque Bold";
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 900;
  margin-bottom: 20px;
  font-size: 20px;
}

#serviceContent {
  font-family: "Brandon Grotesque";
  font-size: 15px;
}

div#team {
  padding-top: 6%;
  font-family: "Brandon Grotesque";
}

div#salmanImg {
  background-image: url('../img/team/salman.jpeg');
}

div#kenanImg {
  background-image: url('../img/team/kenan.jpg');
}

div#lynImg {
  background-image: url('../img/team/lyn.jpeg');
}

div#tongImg {
  background-image: url('../img/team/tong.jpeg');
}

div#wilsonImg {
  background-image: url('../img/team/wilson.png');
}

#profile-image {
  max-width: 250px;
  max-height: 250px;
  border-radius: 50%;
}

.overlay {
  padding-bottom: 50px;
}

.overlay>h3 {
  font-family: "Brandon Grotesque Bold";
  letter-spacing: 2px;
  text-transform: uppercase;
}

.overlay>p {
  text-transform: lowercase;
}

i {
  color: #FFFFFF;
}

i:hover {
  color: #7ECEFD;
}

.icon{
  color: white;
  margin: 50%;
}

#work {
  padding-top: 7%;
  padding-bottom: 20px;
}

h2#workTitle {
  margin-bottom: 4%;
}

#eChartzContent p, #oddjobsContent p, #mappinContent p {
  font-family: "Brandon Grotesque";
  font-size: 18px;
}

#eChartzContent {
  padding-top: 40px;
}

#eChartzContent a, #oddjobsContent a, #mappinContent a {
  font-family: "Brandon Grotesque Bold";
  text-transform: uppercase;
  color: #FF7F66;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#eChartzContent a:hover, #oddjobsContent a:hover, #mappinContent a:hover {

  color: #7ECEFD;
  text-decoration: none;
}

#eChartzLogo {
  width: 100px;
  margin-bottom: 10px;
}

#eChartzImage img, #mappinImage img {
  width: 100%;
  float: right;
  border: 5px solid #7ECEFD;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#oddjobsLogo {
  width: 150px;
  margin-left: -7px;
}

#oddjobsImage img {
  width: 100%;
  border: 5px solid #7ECEFD;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#oddjobsImage {
  margin-top: 80px;
}

#oddjobsImage img:hover, #eChartzImage img:hover, #mappinImage img:hover {
  opacity: 0.5;
}

#oddjobsContent {
  margin-top: 80px;
  padding-top: 40px;
  margin-bottom: 50px;
  float: right;
}

#mappinLogo {
  width: 150px;
  margin-left: -7px;
}

#mappinImage {
  margin-top: 70px;
}

#mappinContent {
  margin-top: 100px;
  padding-top: 20px;
}

div#contact {
  background-color: #fff;
  font-family: "Brandon Grotesque";
  padding-top: 8%;
  margin-top: 20px;
}

div#contact .section-heading {
  font-family: "Brandon Grotesque Bold";
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  padding-bottom: 20px;
}

div#contact .form-group {
  margin-bottom: 25px;
}

div#contact .form-group input,
div#contact .form-group textarea {
  padding: 20px;
}

div#contact .form-group input.form-control {
  height: auto;
}

div#contact .form-group textarea.form-control {
  height: 236px;
}

div#contact .form-control:focus {
  border-color: #FF7F66;
  box-shadow: none;
}

div#contact ::-webkit-input-placeholder {
  font-family: "Brandon Grotesque", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #CCCCCC;
}

div#contact :-moz-placeholder {
  /* Firefox 18- */
  font-family: "Brandon Grotesque", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #CCCCCC;
}

div#contact ::-moz-placeholder {
  /* Firefox 19+ */
  font-family: "Brandon Grotesque", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #CCCCCC;
}

div#contact :-ms-input-placeholder {
  font-family: "Brandon Grotesque", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #CCCCCC;
}

div#contact .text-danger {
  color: #e74c3c;
}

div.contact {
  text-align: center;
  font-family: "Brandon Grotesque";
}

div.contact h2 {
  margin-top: 0;
  margin-bottom: 25px;
  color: #3E454C;
}

div.contact h2 i {
  color: #dd4b39;
}

div.contact ul.list-social {
  margin-bottom: 0;
}

div.contact ul.list-social li a {
  display: block;
  height: 80px;
  width: 80px;
  line-height: 80px;
  font-size: 40px;
  border-radius: 100%;
  color: white;
}

div.contact ul.list-social li.social-twitter a {
  background-color: #1da1f2;
}

div.contact ul.list-social li.social-twitter a:hover {
  background-color: #0d95e8;
}

div.contact ul.list-social li.social-facebook a {
  background-color: #3b5998;
}

div.contact ul.list-social li.social-facebook a:hover {
  background-color: #344e86;
}

div.contact ul.list-social li.social-google-plus a {
  background-color: #dd4b39;
}

div.contact ul.list-social li.social-google-plus a:hover {
  background-color: #d73925;
}

#contactButton {
  border-radius: 4px;
  background-color: #FF7F66;
  color: #FFFFFF;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  width: 25%;
  text-transform: uppercase;
  padding: 10px;
  letter-spacing: 2px;
}

#contactButton:hover {
  background-color: #FFFFFF;
  color: #3E454C;
  border-color: #3E454C;
}

footer p {
  text-align: center;
  font-family: "Brandon Grotesque Bold";
  text-transform: uppercase;
  padding-bottom: 10px;
  letter-spacing: 1px;
}

footer hr {
  width: 15%;
}

footer #socialMedia {
  text-align: center;
  margin-bottom: 7%;
}

#socialMedia a i {
  padding: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 20px;
}

#socialMedia a i.fa-facebook {
  color: #3B5998;
}

#socialMedia a i.fa-twitter {
  color: #1DA1F2;
}

#socialMedia a i.fa-instagram {
  color: #833AB4;
}

#socialMedia a i.fa-linkedin {
  color: #0077B5;
}

#socialMedia a i:hover {
  opacity: 0.8;
}

/* RESPONSIVE STYLING */
@media only screen and (max-device-width: 768px) {
  /*.imgDescription {
    margin-right: 20px;
  }*/
}

@media only screen and (max-device-width: 768px) {
  .navbar-toggle.collapsed {
    border: 0px;
  }

  .navbar-brand>img {
    margin-top: -28px;
  }

  #backgroundText {
    transform: translateX(-50%) translateY(-200%);
  }

  #background button {
    transform: translateX(-50%) translateY(-300%);
  }

  #eChartzContent {
    margin-bottom: 20px;
  }

  #oddjobsImage {
    margin-top: 0px;
  }

  #oddjobsContent {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  #mappinImage {
    margin-top: 0px;
  }

  #mappinContent {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  h2#workTitle {
    padding-bottom: 0px;
    margin: 0px;
    margin-top: 7%;
  }

  h2#contactTitle {
    margin-top: 7%;
  }

  #contactButton {
    width: 100%;
  }

  footer>hr {
    width: 75%;
  }
}

@media only screen and (max-device-width: 480px) {

  .navbar-brand>img {
    width: 125px;
    margin-top: -22px;
  }

  #backgroundText {
    transform: translateX(-50%) translateY(-900%);
    font-size: 20px;
  }

  #background button {
    display: none;
  }

  h2#workTitle {
    padding-bottom: 0px;
    margin: 0px;
    margin-top: 10%;
  }

  h2#aboutTitle {
    margin: 0px;
    margin-top: 10%;
  }

  h2#contactTitle {
    margin: 0px;
    margin-top: 10%;
  }

  #contactButton {
    width: 100%;
  }
}

@media only screen and (max-device-width: 412px) {
  #background p {
    transform: translateX(-50%) translateY(-850%);
  }
}

@media only screen and (max-device-width: 375px) {
  #background p {
    transform: translateX(-50%) translateY(-1000%);
  }
}

@media only screen and (max-device-width: 360px) {
  #background p {
    transform: translateX(-50%) translateY(-800%);
  }
}

@media only screen and (max-device-width: 320px) {
  #background p {
    transform: translateX(-50%) translateY(-700%);
  }
}

 /*#profile-image {
   opacity: 1;
 	-webkit-transition: .3s ease-in-out;
 	transition: .3s ease-in-out;
 }

#profile-image:hover {
  opacity: .5;
}*/


.imgWrap .imgDescription {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  color: #fff;
  opacity: 0;
  margin: auto 0;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}


.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 0.7;
  background-color: #333;
}

.imgDescription>p {
  margin-top: 50px;
  color: #FFFFFF;
  font-family: "Brandon Grotesque";
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
